body {
    margin: 0;
    text-align: center;
    font-family: 'Kodchasan', sans-serif;
    font-size: 1.9em;
    color: #444648;
    background-color: AliceBlue;
}

h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Satisfy', cursive;
    color: #444648;
}

#p1 {
    margin-top: 0;
}

h2 {
    line-height: 1.5;
    font-weight: normal;
    margin-top: 0;
    font-size: 1.75em;
    font-family: 'Bungee Inline', cursive;
    margin-bottom:0;
}

h3 {
    line-height: 1.5;
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 0;
    font-family: 'Bungee Inline', cursive;
    margin-bottom:0;
}

a {
    color: #898D91;
}

a:hover {
    color: GoldenRod
}

.top {
    position: relative;
    background-color: AliceBlue;
    padding-top: 50px;
    height: 700px
}

.middle1 {
    position: relative;
    background-color: #B0DAFF;
}

.middle2 {
    position: relative;
    background-color: AliceBlue;
}

.middle3 {
    position: relative;
    background-color: #B0DAFF;
    font-size: .75em;
}

.bottom {
    position: relative;
    background-color: #FFCEA3;
    font-size: .6em;
    padding-bottom: .2em;
}

#star1 {
    position: absolute;
    left: 1%;
    top: 5%;
    max-height: 10%;
    max-width: 10%;
    background-color: AliceBlue;
}

#star2 {
    position: absolute;
    right: 1%;
    top: 5%;
    max-height: 10%;
    max-width: 10%;
    background-color: AliceBlue;
}

#star3 {
    position: absolute;
    left: 1%;
    bottom: 5%;
    max-height: 10%;
    max-width: 10%;
    background-color: AliceBlue;
}

#star4 {
    position: absolute;
    right: 1%;
    bottom: 5%;
    max-height: 10%;
    max-width: 10%;
    background-color: AliceBlue;
}

#data1 {
    position: absolute;
    left: 10%;
    top: 60%;
    max-height: 25%;
    max-width: 25%;
    background-color: AliceBlue;
}

#data2{
    position: absolute;
    right: 10%;
    top: 55%;
    max-height: 25%;
    max-width: 25%;
    background-color: AliceBlue;
}

#headshot {
    width: 9.8em;
    height: 9.8em;
}

.data-bullet {
    width: 3em;
    height: 3em;
}

.summary-table {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: .6em;
    text-align: left;
}

.bi-images {
    margin-bottom: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#tableau {
    width: 6em;
    height: 6em;
}

#powerBI {
    width: 10em;
    height: 5em;
}

.work-table {
    margin-bottom: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    text-align: left;
}

.connect {
    margin-top: 0;
}

#linked-in:hover {
    opacity: 75%;
}

#linked-in {
    background-color: #FFCEA3;
    height: 50px;
    width: 50px;
}

.hobbies {
    margin: auto;
}

.hobby-text {
    width: .75em;
    text-align: left;
    padding-left: 1em;
    font-size: .9em;
}

#fam {
    height: 10em;
    width: 15em;
}

#weights {
    padding-left: 3em;
    height: 9em;
    width: 9em;
}

#grill {

    padding-left:0;
    height: 9em;
    width: 9em;
}

#dining {
    padding-left: 3em;
    height: 9em;
    width: 9em;
}

#luka {
    padding-left: 3em;
    height: 9em;
    width: 9em;
}

#learning {
    padding-left: 3em;
    height: 9em;
    width: 9em;
}

.copyright {
    margin-bottom: 0;
    font-size: .75em;
}

.link {
    text-decoration: none;
}

.blank-space {
    visibility: hidden;
}
