body {
    background-color: AliceBlue;
}

hr {
    border-style: none;
    background-color: #D71E28;
    height: 2px;
}

a {
    color: #2660A9;
}

a:hover {
    color: GoldenRod
}

h1 {
    color: #191970;
}

h2 {
    color: #191970;
    }
