{% include "head.html" %}
<table class="hobbies" cellspacing="20" style="padding-top: 100px">

    <tbody>
        <tr>
            <td colspan="4" align="center"><h2>-BRETT'S HOBBIES-</h2></td>
        </tr>
        <tr>
            <td><img id="fam" src="{{ url_for('static', filename='fam-photo.jpg') }}" alt="fam"></td>
            <td class="hobby-text">Spending time with my family.</td>
            <td><img id="weights" src="{{ url_for('static', filename='weights-img.webp') }}" alt="weights"></td>
            <td class="hobby-text">Weightlifting / physical fitness.</td>
        <tr>
            <td><img id="grill" src="{{ url_for('static', filename='grill-img.webp') }}" alt="grill"></td>
            <td class="hobby-text">Cooking & grilling.</td>
            <td><img id="dining" src="{{ url_for('static', filename='dining-img.webp') }}" alt="dining"></td>
            <td class="hobby-text">Dining out. Exploring new cuisine.</td>
        </tr>
        <tr>
            <td><img id="luka" src="{{ url_for('static', filename='luka-anime-img.webp') }}" alt="luka"></td>
            <td class="hobby-text">Sports & gaming.</td>
            <td><img id="learning" src="{{ url_for('static', filename='learning-img.webp') }}" alt="learning"></td>
            <td class="hobby-text">Learning new technical skills.</td>
        </tr>
    </tbody>
</table>
{% include "footer.html" %}
